<header class="top-bar">
    <div class="contain">
        <a class="home-link" href="/">Home</a>
        <h1>{{name}}</h1>
    </div>
</header>

<section class="contain">
    <div class="bot-options">
        <h2>Bot Options</h2>
        <div class="options-form">
            <form action="bot" method="POST">
                <ul class="fields">
                    <li><label for="botName">Bot Name:</label></li>
                    <li><input type="text" id="bot-name" name="botName" value="{{name}}" disabled="disabled"></li>

                    <li><label for="targetSite">Target Website:</label></li>
                    <li><input type="text" id="target-site" name="targetSite" value="{{target}}" disabled="disabled"></li>

                    <li><label for="waitTime">Wait Minutes:</label></li>
                    <li><input type="text" id="wait-time" name="waitTime" value="{{idle}}" disabled="disabled"></li>

                    <li><label for="searchQueries">Search Queries:</label></li>
                    <li><textarea type="text" id="search-queries" name="searchQueries" disabled="disabled">{{queries}}</textarea></li>

                    <li><button class="edit-btn">Edit</button> <button class="update-btn" type="submit" disabled="disabled">Update</button></li>
                </ul>
            </form>

            <div class="result"></div>
        </div>

        <div class="instances">
            {{instances}}
        </div>
    </div>

    <div class="bot-stats">
        <h2>Bot Stats</h2>
        <ul class="accordion-tabs">
            <li class="tab-header-and-content">
                <a href="#" class="is-active tab-link">Current</a>
                <div class="tab-content">
                    <ul class="stats">
                        <li>Runs: <strong>{{runs}}</strong></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </li>
            <li class="tab-header-and-content">
                <a href="#" class="tab-link">Lifetime</a>
                <div class="tab-content">
                    <ul class="stats">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</section>

<section class="bot-log">
    <h2>Bot Log</h2>
</section>